@import '~@angular/material/theming';

@include mat-core();

$localweather-primary: mat-palette($mat-green, 600);
$localweather-accent: mat-palette($mat-yellow, 500);

$localweather-app-theme: mat-light-theme($localweather-primary, $localweather-accent);

@include angular-material-theme($localweather-app-theme);
